.mainFormArticle {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* style for error model */
.errorModelContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.599);
}
.errorModel {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

/* style for upper progress bar */
.mainProgressCountersDivs {
  background-color: rgb(56, 64, 71);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.individualProgressCounterDiv {
  margin: 0rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(138, 149, 158);
}
.arrowSpan {
  min-width: 12px;
  height: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0.3rem;
}
.arrowSpan > span {
  min-height: 1px;
  background-color: rgb(138, 149, 158);
  min-width: 8px;
}
.arrowSpan > span:nth-child(1) {
  transform: rotate(36deg);
}
.arrowSpan > span:nth-child(2) {
  transform: rotate(323deg);
}

.progressNavbarContainer {
  display: flex;
  cursor: pointer;
}

.numberSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.3rem;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(56, 64, 71);
  border: 1px solid rgb(138, 149, 158);
}
.progressBarPageName {
  margin-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activeProgressBarNumber {
  background-color: #fff;
  color: black;
}
.activeProgressBarpage {
  color: #fff;
}

/* making responsive */

@media screen and (max-width: 1210px) {
  .progressBarPageName {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .arrowSpan {
    display: none;
  }
  .numberSpan {
    margin: 0rem 0.1rem;
  }
}

/* style for form pages */
.mainFormBody {
  height: 100%;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 240, 240);
}

/* style for About form page */
.aboutFormPage {
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
}
.aboutFormPage > h2 {
  margin-bottom: 1rem;
}

.aboutFormPageForm {
  max-width: 500px;
  margin-right: auto;
}

.languageUpperLevelDiv,
.languagesUpperHeaddings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.languageUpperLevelDiv > div {
  width: 48%;
}
.languageUpperLevelDiv > .deleteLanguageDiv {
  width: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.languagesAdditionDiv {
  display: inline-block;
  color: rgb(59, 179, 189);
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(59, 179, 189);
  cursor: pointer;
  margin: 0.5rem 0rem;
}
.deleteLanguageDiv > svg {
  display: inline-block;
  fill: rgb(59, 179, 189);
}
.deleteLanguageDiv:hover {
  cursor: pointer;
}

.languagesUpperHeaddings > p {
  /* flex-grow: 1; */
  width: 50%;
}

.phoneNumberFormDiv {
  padding: 0.5rem;
  border: 1px solid black;
}

.phoneNumberFormDiv input {
  border: none;
  outline: none;
}

.ageConfirmationDiv > span:hover {
  cursor: pointer;
}

.ageConfirmationSvgSpan,
.checkboxConfirmationSvgSpan {
  min-width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.476);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  cursor: pointer;
}
.acitveAgeCheckbox,
.acitveCheckbox {
  background-color: rgb(59, 179, 189);
  border: none;
}
.ageConfirmationSvg {
  fill: white;
}
.aboutFormPageForm button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: rgb(59, 179, 189);
  color: #fff;
  border: none;
}
.navigationClass {
  margin-top: 0.5rem;
}

/* styling for form photo page */

.formPhotoPage {
  max-width: 900px;
  background-color: #fff;
  padding: 1rem;
}

.formPhotoAndTipsPage {
  display: grid;
  grid-template-columns: 1.3fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0.6rem;
}
@media screen and (max-width: 750px) {
  .formPhotoAndTipsPage {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .classDropzone {
    display: none;
  }
}
.photoTips {
  /* width: 250px; */
}
.photoTipsList {
  list-style: none;
}
.imageUploaderDiv {
  display: flex;
  gap: 0.5rem;
}
.imageUploaderDiv > button {
  padding: 0.5rem 1rem;
}

/* drag and drop div */
.dragndropdiv {
  height: 250px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* drag and drop div */

.ImageShowerDiv {
  height: 300px;
  /* width: 300px; */
  width: auto;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.ImageShowerDiv > img {
  /* width: 100%; */
  /* height: 100%; */
}

/* form certificate page */
.formCertificationPage,
.formCertificationPage {
  max-width: 800px;
  padding: 1rem;
  background-color: #fff;
}
.formCertificationDiv,
.formEducationDiv {
  max-width: 500px;
}

.certificatePageDeleteButton,
.educationPageDeleteButon {
  border: none;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.certificatePageDeleteButton > svg,
.educationPageDeleteButon > svg {
  fill: rgb(59, 179, 189);
}

.selectDivEducationPage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.dashAdderSpan {
  margin: 0rem 0.5rem;
  background-color: black;
  width: 21px;
  height: 3px;
  display: inline-block;
}

.certificateUploadDiv > div {
  margin: 0.5rem 0rem;
}

/* general styles */
input[type="range"] {
  width: 100%;
}

.navigationButtonDiv {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.navigationButtonDiv > button {
  padding: 0.5rem 1rem;
  background-color: rgb(59, 179, 189);
  border: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}
.fileUploadLabel {
  border: 1px solid rgb(59, 179, 189);
  padding: 0.5rem 1rem;
  color: rgb(59, 179, 189);
  cursor: pointer;
  display: inline-block;
}
.individualImageDiv {
  /* position: relative; */
  display: inline-block;
  width: 300px;
  height: 250px;
  border: 1px solid black;
  object-fit: cover;
}
.individualImageDiv > img {
  height: 100%;
  width: 100%;
}

/* .individualImageDiv:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.individualImageDiv > button {
  display: none;
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10;
}
.individualImageDiv:hover > button {
  display: inline;
} */

/* form description page */
.descriptonFormPageArticle {
  max-width: 600px;
  background-color: #fff;
  padding: 1rem;
}
.descriptionPageProfileInfoDiv {
  margin: 0.5rem 0rem;
  display: flex;
  /* align-items: center; */
}
@media screen and (max-width: 650px) {
  .descriptionPageProfileInfoDiv {
    flex-wrap: wrap;
  }
}
.profileImageDiv {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid black;
}
.profileImageDiv > img {
  width: 100%;
  height: 100%;
}
.profileInfo {
  padding: 1rem;
}
.profileInfo > * {
  margin: 0.5rem;
}
.profileInfo > input {
  width: 80%;
}
.descriptionDivs > textarea {
  resize: none;
  padding: 1rem;
}
.counterMainDiv {
  margin: 0.5rem;
}

/* avalibility page  */
.avalibilityFormPageArticle {
  max-width: 550px;
  padding: 1rem;
  background-color: #fff;
}
.avalibilityFormPageArticle > * {
  margin: 0.5rem 0rem;
}
.avalibilityPageSelectController {
  width: 100%;
}
.timingCheckBoxDiv {
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
}

.individualTimingDaystime {
  margin: 0.3rem 0rem;
}
.individualTimingDaystime > * {
  margin: 0rem 0.5rem;
}
.timingsDeleteButton {
  border: none;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.timingsDeleteButton {
  fill: rgb(59, 179, 189);
}
