@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
  background-color: rgb(255 252 255);
  color: #565454;
}
label {
  color: #000;
}
input,
select {
  color: #000;
  padding: 0.5rem;
}
input[type="checkbox"] {
  accent-color: #3bb3bd;
  /* color: #fff; */
  fill: white;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  cursor: default;
}

.noDisplay {
  display: none;
}

.validationError {
  color: red;
}

.flexDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.flexDivRow {
  display: flex;
  align-items: center;
}
.flexDivRowSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonStyling {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgb(59, 179, 189);
  color: #fff;
  font-size: 1.1rem;
  border: none;
}
.additionButton {
  color: rgb(59, 179, 189);
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(59, 179, 189);
  cursor: pointer;
  margin: 0.5rem 0rem;
  background-color: #fff;
}
